horovod==0.19.*
jupyterlab-nvdashboard==0.2.* # server-side component; client-side component installed in postBuild
jupyterlab_sql==0.3.*
jupyter-tensorboard==0.2.*

# make sure horovod is re-compiled if environment is re-built
--no-binary=horovod
