horovod==0.20.*
jupyterlab-nvdashboard==0.4.* # server-side component; client-side component installed in postBuild
jupyter-tensorboard==0.2.*

# make sure horovod is re-compiled if environment is re-built
--no-binary=horovod
